{
    "presets": [
        ["@babel/env", {
            "useBuiltIns": "usage",
            "targets": {
                "node": "11.11"
            },
            "corejs": "3.x"
        }]
    ],
    "plugins": [
        "lodash",
        "@babel/plugin-transform-object-assign",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-syntax-object-rest-spread",
        "@babel/plugin-transform-parameters",
        "@babel/plugin-proposal-class-properties"
    ]
}